<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gawilive.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
            android:allowBackup="false"
            >
        <activity
                android:name="com.gawilive.common.activity.WebViewActivity"
                android:screenOrientation="portrait"
            android:exported="false"
                />

        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
            android:exported="false"
                />

        <!--Android 7.0 拍照要用这个-->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.gawilive.phonelivex.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

<!--        <meta-data-->
<!--                android:name="com.amap.api.v2.apikey"-->
<!--                android:value="3179c2b4a9768d5f9e5809a3ec2afee4"/>-->


        <!--支付宝-->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name="com.alipay.sdk.app.H5AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!--支付宝 end-->


        <activity
                android:name="com.gawilive.common.activity.ChooseImageActivity"
                android:screenOrientation="portrait"
            android:exported="true"
                />
        <activity
                android:name="com.gawilive.common.activity.ChooseVideoActivity"
                android:screenOrientation="portrait"
            android:exported="true"
                />
        <activity
                android:name="com.gawilive.common.activity.ChooseLocationActivity"
                android:screenOrientation="portrait"
            android:exported="true"
                />

<!--        <activity-->
<!--                android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"-->
<!--                android:launchMode="singleTask"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->

<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->

<!--                <data android:scheme="com.gawilive.phonelive.braintree"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--                android:name="com.gawilive.main.activity.DrawALotteryOrRaffleActivity"-->
<!--                android:screenOrientation="portrait"-->
<!--            android:exported="true"-->
<!--                />-->
        <activity
                android:name="com.gawilive.common.activity.ChatActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"
            android:exported="true"
                />
        <activity android:name=".activity.ErrorActivity"/>
        <!--        <activity-->
<!--                android:name="com.gawilive.mall.activity.AreaSelectActivity"-->
<!--                android:launchMode="singleTask"-->
<!--                android:screenOrientation="portrait"-->
<!--            android:exported="true"-->
<!--                />-->


    </application>

    <queries>
        <!-- 拍照意图：MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 拍摄意图：MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- 图片裁剪意图 -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- 打电话意图：Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 调起分享意图：Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

</manifest>
